<%= form_for book, method: :put do |form| %>
  <% if book.errors.any? %>
    <div class="message error"><%= book.errors.full_messages.join('<br>').html_safe %></div>
  <% end %>

  <% if notice %>
    <div class="message notice"><%= notice %></div>
  <% end %>

  <div class="mt-8">
    <%= form.label :title, 'Название' %>
    <%= form.text_field :title %>

    <%# Альтернативные варианты: %>
   
    <%# Использование хелпера ActionView::Helpers::FormHelper %>
    <%#= text_field :book, :title %>

    <%# Использование хелпера ActionView::Helpers::FormTagHelper %>
    <%#= text_field_tag 'book[title]', book.title %>
  </div>

  <div class="mt-5">
    <%= form.label :author_id, 'Автор' %>
    <% authors = Author.all.map { |author| [author.full_name, author.id] } %>
    <% author_options = options_for_select(authors, book.author_id) %>
    <%= form.select 'author_id', author_options, { prompt: 'Выберите автора' }, { class: 'select_list' } %>
  </div>

  <div class="mt-5">
    <%= form.label :genre_id, 'Жанр' %>
    <%= form.collection_select :genre_id, Genre.all, :id, :name, { prompt: 'Выберите жанр' }, { class: 'select_list' } %>
  </div>

  <div class="mt-8" >
    <%= form.submit 'Обновить' %>
  </div>
<% end %>
