<p style="color: green"><%= notice %></p>

<% content_for :title do %>
  <title>Book Store: Просмотр книги</title>
<% end %>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
